<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								计划编号：<input type="text" name="planId"/>
							</li>

							<li>
								审核时间：<input type="text" name="checkTime"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:checkplan:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:checkplan:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:checkplan:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:checkplan:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:checkplan:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:checkplan:remove')}]];
		var checkFlag = [[${@permission.hasPermi('system:checkplan:check')}]];
        var prefix = ctx + "system/checkplan";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				checkUrl:  prefix + "/check",
				exportUrl: prefix + "/export",
                modalName: "计划审核",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'plans',
					title : '计划名称',
					formatter:function(value){
						return value.planName;
					}
				},
				{
					field : 'plans',
					title : '发送人',
					formatter:function(value){
						return value.planAuthor;
					}
				},
				{
					field : 'plans',
					title : '制定时间',
					sortable: true,
					formatter:function(value){
						return value.planTime;
					}
				},
				{
					field : 'plans',
					title : '代维驻点',
					formatter:function (val) {
						var value = val.resId;
						var datas = [[${@networkresourceServiceImpl.selectNetworkresourceList(null)}]];
						for(var i = 0;i<datas.length;i++){
							if(datas[i].resId == value){
								return datas[i].resName;
							}
						}
					}
				},
				{
					field : 'plans',
					title : '状态',
					formatter:function (val) {
						var value = val.planResult;
						switch (value) {
							case '1':
								return "未审核";
								break;
							case '2':
								return "通过";
								break;
							case '3':
								return "不通过";
								break;
						}
					}
				},
				{
					field : 'checkMan', 
					title : '审核人',
					sortable: true
				},
				{
					field : 'checkTime', 
					title : '审核时间',
					sortable: true
				},
				{
					field : 'checkReasons', 
					title : '审核原因',
					sortable: true
				},
		        {
		        	field:'plans',
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if (value.planResult == '1'){
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="check(\'' + row.checkId + '\')"><i class="fa fa-edit"></i>审核</a> ');
						}

                        /*actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.checkId + '\')"><i class="fa fa-remove"></i>删除</a>');*/
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>

<script>
	function check(id) {
		var url = "/404.html";
		if ($.common.isNotEmpty(id)) {
			url = $.table._option.checkUrl+"/"+id;
			console.log(url);
		}
		$.modal.open("审核" + $.table._option.modalName, url);
	}
</script>
</body>
</html>