<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-standard-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">资源id号：</label>
				<div class="col-sm-8">
					<input id="resId" name="resId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检项目：</label>
				<div class="col-sm-8">
					<input id="standardEvent" name="standardEvent" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检内容：</label>
				<div class="col-sm-8">
					<input id="standardContent" name="standardContent" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检周期：</label>
				<div class="col-sm-8">
					<input id="standardCycle" name="standardCycle" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">巡检开始实施时间：</label>
				<div class="col-sm-8">
					<input id="standardTime" name="standardTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/standard"
		$("#form-standard-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-standard-add').serialize());
	        }
	    }
	</script>
</body>
</html>
