<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.company.mapper.CompanyMapper">
    
    <resultMap type="Company" id="CompanyResult">
        <result property="comid"    column="comid"    />
        <result property="comname"    column="comname"    />
        <result property="comaddress"    column="comaddress"    />
        <result property="comman"    column="comman"    />
        <result property="comphone"    column="comphone"    />
        <result property="comwork"    column="comwork"    />
        <result property="comperformance"    column="comperformance"    />
        <result property="comcity"    column="comcity"    />
        <result property="comcounty"    column="comcounty"    />
    </resultMap>
	
	<sql id="selectCompanyVo">
        select comid, comname, comaddress, comman, comphone, comwork, comperformance, comcity, comcounty from company
    </sql>
	
    <select id="selectCompanyList" parameterType="Company" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        <where>  
            <if test="comid != null "> and comid = #{comid}</if>
             <if test="comname != null  and comname != '' "> and comname = #{comname}</if>
             <if test="comaddress != null  and comaddress != '' "> and comaddress = #{comaddress}</if>
             <if test="comman != null  and comman != '' "> and comman = #{comman}</if>
             <if test="comphone != null  and comphone != '' "> and comphone = #{comphone}</if>
             <if test="comwork != null  and comwork != '' "> and comwork = #{comwork}</if>
             <if test="comperformance != null "> and comperformance = #{comperformance}</if>
             <if test="comcity != null  and comcity != '' "> and comcity = #{comcity}</if>
             <if test="comcounty != null  and comcounty != '' "> and comcounty = #{comcounty}</if>
         </where>
    </select>
    
    <select id="selectCompanyById" parameterType="Integer" resultMap="CompanyResult">
        <include refid="selectCompanyVo"/>
        where comid = #{comid}
    </select>
        
    <insert id="insertCompany" parameterType="Company">
        insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="comid != null  ">comid,</if>
			<if test="comname != null  and comname != ''  ">comname,</if>
			<if test="comaddress != null  and comaddress != ''  ">comaddress,</if>
			<if test="comman != null  and comman != ''  ">comman,</if>
			<if test="comphone != null  and comphone != ''  ">comphone,</if>
			<if test="comwork != null  and comwork != ''  ">comwork,</if>
			<if test="comperformance != null  ">comperformance,</if>
			<if test="comcity != null  and comcity != ''  ">comcity,</if>
			<if test="comcounty != null  and comcounty != ''  ">comcounty,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="comid != null  ">#{comid},</if>
			<if test="comname != null  and comname != ''  ">#{comname},</if>
			<if test="comaddress != null  and comaddress != ''  ">#{comaddress},</if>
			<if test="comman != null  and comman != ''  ">#{comman},</if>
			<if test="comphone != null  and comphone != ''  ">#{comphone},</if>
			<if test="comwork != null  and comwork != ''  ">#{comwork},</if>
			<if test="comperformance != null  ">#{comperformance},</if>
			<if test="comcity != null  and comcity != ''  ">#{comcity},</if>
			<if test="comcounty != null  and comcounty != ''  ">#{comcounty},</if>
         </trim>
    </insert>
	 
    <update id="updateCompany" parameterType="Company">
        update company
        <trim prefix="SET" suffixOverrides=",">
            <if test="comname != null  and comname != ''  ">comname = #{comname},</if>
            <if test="comaddress != null  and comaddress != ''  ">comaddress = #{comaddress},</if>
            <if test="comman != null  and comman != ''  ">comman = #{comman},</if>
            <if test="comphone != null  and comphone != ''  ">comphone = #{comphone},</if>
            <if test="comwork != null  and comwork != ''  ">comwork = #{comwork},</if>
            <if test="comperformance != null  ">comperformance = #{comperformance},</if>
            <if test="comcity != null  and comcity != ''  ">comcity = #{comcity},</if>
            <if test="comcounty != null  and comcounty != ''  ">comcounty = #{comcounty},</if>
        </trim>
        where comid = #{comid}
    </update>

	<delete id="deleteCompanyById" parameterType="Integer">
        delete from company where comid = #{comid}
    </delete>
	
    <delete id="deleteCompanyByIds" parameterType="String">
        delete from company where comid in 
        <foreach item="comid" collection="array" open="(" separator="," close=")">
            #{comid}
        </foreach>
    </delete>
    
</mapper>