<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.standard.mapper.StandardMapper">
    
    <resultMap type="Standard" id="StandardResult">
        <result property="standardNum"    column="standard_num"    />
        <result property="standardId"    column="standard_id"    />
        <result property="resType"    column="res_type"    />
        <result property="standardEvent"    column="standard_event"    />
        <result property="standardContent"    column="standard_content"    />
        <result property="standardCycle"    column="standard_cycle"    />
        <result property="standardTime"    column="standard_time"    />
    </resultMap>
	
	<sql id="selectStandardVo">
        select standard_num, standard_id, res_type, standard_event, standard_content, standard_cycle, standard_time from standard
    </sql>
	
    <select id="selectStandardList" parameterType="Standard" resultMap="StandardResult">
        <include refid="selectStandardVo"/>
        <where>  
            <if test="standardNum != null "> and standard_num = #{standardNum}</if>
             <if test="standardId != null "> and standard_id = #{standardId}</if>
             <if test="resType != null  and resType != '' "> and res_type = #{resType}</if>
             <if test="standardEvent != null  and standardEvent != '' "> and standard_event = #{standardEvent}</if>
             <if test="standardContent != null  and standardContent != '' "> and standard_content = #{standardContent}</if>
             <if test="standardCycle != null  and standardCycle != '' "> and standard_cycle = #{standardCycle}</if>
             <if test="standardTime != null "> and standard_time = #{standardTime}</if>
         </where>
    </select>
    
    <select id="selectStandardById" parameterType="Integer" resultMap="StandardResult">
        <include refid="selectStandardVo"/>
        where standard_num = #{standardNum}
    </select>
        
    <insert id="insertStandard" parameterType="Standard">
        insert into standard
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="standardNum != null  ">standard_num,</if>
			<if test="standardId != null  ">standard_id,</if>
			<if test="resType != null  and resType != ''  ">res_type,</if>
			<if test="standardEvent != null  and standardEvent != ''  ">standard_event,</if>
			<if test="standardContent != null  and standardContent != ''  ">standard_content,</if>
			<if test="standardCycle != null  and standardCycle != ''  ">standard_cycle,</if>
			<if test="standardTime != null  ">standard_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="standardNum != null  ">#{standardNum},</if>
			<if test="standardId != null  ">#{standardId},</if>
			<if test="resType != null  and resType != ''  ">#{resType},</if>
			<if test="standardEvent != null  and standardEvent != ''  ">#{standardEvent},</if>
			<if test="standardContent != null  and standardContent != ''  ">#{standardContent},</if>
			<if test="standardCycle != null  and standardCycle != ''  ">#{standardCycle},</if>
			<if test="standardTime != null  ">#{standardTime},</if>
         </trim>
    </insert>
	 
    <update id="updateStandard" parameterType="Standard">
        update standard
        <trim prefix="SET" suffixOverrides=",">
            <if test="standardId != null  ">standard_id = #{standardId},</if>
            <if test="resType != null  and resType != ''  ">res_type = #{resType},</if>
            <if test="standardEvent != null  and standardEvent != ''  ">standard_event = #{standardEvent},</if>
            <if test="standardContent != null  and standardContent != ''  ">standard_content = #{standardContent},</if>
            <if test="standardCycle != null  and standardCycle != ''  ">standard_cycle = #{standardCycle},</if>
            <if test="standardTime != null  ">standard_time = #{standardTime},</if>
        </trim>
        where standard_num = #{standardNum}
    </update>

	<delete id="deleteStandardById" parameterType="Integer">
        delete from standard where standard_num = #{standardNum}
    </delete>
	
    <delete id="deleteStandardByIds" parameterType="String">
        delete from standard where standard_num in 
        <foreach item="standardNum" collection="array" open="(" separator="," close=")">
            #{standardNum}
        </foreach>
    </delete>
    
</mapper>