<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.taskinfo.mapper.TaskinfoMapper">
    
    <resultMap type="Taskinfo" id="TaskinfoResult">
        <result property="taskNum"    column="task_num"    />
        <result property="resName"    column="res_name"    />
        <result property="stagId"    column="stag_id"    />
        <result property="taskAuthor"    column="task_author"    />
        <result property="taskStatus"    column="task_status"    />
    </resultMap>
	
	<sql id="selectTaskinfoVo">
        select task_num, res_name, stag_id, task_author, task_status from taskinfo
    </sql>
	
    <select id="selectTaskinfoList" parameterType="Taskinfo" resultMap="TaskinfoResult">
        <include refid="selectTaskinfoVo"/>
        <where>  
            <if test="taskNum != null "> and task_num = #{taskNum}</if>
             <if test="resName != null  and resName != '' "> and res_name = #{resName}</if>
             <if test="stagId != null "> and stag_id = #{stagId}</if>
             <if test="taskAuthor != null  and taskAuthor != '' "> and task_author = #{taskAuthor}</if>
             <if test="taskStatus != null  and taskStatus != '' "> and task_status = #{taskStatus}</if>
         </where>
    </select>
    
    <select id="selectTaskinfoById" parameterType="Integer" resultMap="TaskinfoResult">
        <include refid="selectTaskinfoVo"/>
        where task_num = #{taskNum}
    </select>
        
    <insert id="insertTaskinfo" parameterType="Taskinfo">
        insert into taskinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskNum != null  ">task_num,</if>
			<if test="resName != null  and resName != ''  ">res_name,</if>
			<if test="stagId != null  ">stag_id,</if>
			<if test="taskAuthor != null  and taskAuthor != ''  ">task_author,</if>
			<if test="taskStatus != null  and taskStatus != ''  ">task_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskNum != null  ">#{taskNum},</if>
			<if test="resName != null  and resName != ''  ">#{resName},</if>
			<if test="stagId != null  ">#{stagId},</if>
			<if test="taskAuthor != null  and taskAuthor != ''  ">#{taskAuthor},</if>
			<if test="taskStatus != null  and taskStatus != ''  ">#{taskStatus},</if>
         </trim>
    </insert>
	 
    <update id="updateTaskinfo" parameterType="Taskinfo">
        update taskinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="resName != null  and resName != ''  ">res_name = #{resName},</if>
            <if test="stagId != null  ">stag_id = #{stagId},</if>
            <if test="taskAuthor != null  and taskAuthor != ''  ">task_author = #{taskAuthor},</if>
            <if test="taskStatus != null  and taskStatus != ''  ">task_status = #{taskStatus},</if>
        </trim>
        where task_num = #{taskNum}
    </update>

	<delete id="deleteTaskinfoById" parameterType="Integer">
        delete from taskinfo where task_num = #{taskNum}
    </delete>
	
    <delete id="deleteTaskinfoByIds" parameterType="String">
        delete from taskinfo where task_num in 
        <foreach item="taskNum" collection="array" open="(" separator="," close=")">
            #{taskNum}
        </foreach>
    </delete>
    
</mapper>