<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-networkresource-edit" th:object="${networkresource}">
        <input id="resId" name="resId" th:field="*{resId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">资源名称：</label>
            <div class="col-sm-8">
                <input id="resName" name="resName" th:field="*{resName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">维护资源类型：</label>
            <div class="col-sm-8">
                <input id="resType" name="resType" th:field="*{resType}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资源所在市：</label>
            <div class="col-sm-8">
                <input id="resCity" name="resCity" th:field="*{resCity}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资源所在县（区）：</label>
            <div class="col-sm-8">
                <input id="resCounty" name="resCounty" th:field="*{resCounty}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代维驻点：</label>
            <div class="col-sm-8">
                <input id="stagId" name="stagId" th:field="*{stagId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">入网时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input id="resTime" name="resTime" th:field="*{resTime}" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经度：</label>
            <div class="col-sm-8">
                <input id="longitude" name="longitude" th:field="*{longitude}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">纬度：</label>
            <div class="col-sm-8">
                <input id="latitude" name="latitude" th:field="*{latitude}" class="form-control" type="text">
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/networkresource"
    $("#form-networkresource-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-networkresource-edit').serialize());
        }
    }
</script>
</body>
</html>
