<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-company-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司名称：</label>
				<div class="col-sm-8">
					<input id="comname" name="comname" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司详细地址：</label>
				<div class="col-sm-8">
					<input id="comaddress" name="comaddress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司负责人：</label>
				<div class="col-sm-8">
					<input id="comman" name="comman" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系方式：</label>
				<div class="col-sm-8">
					<input id="comphone" name="comphone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司代维业务：</label>
				<div class="col-sm-8">
					<input id="comwork" name="comwork" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">代维业绩：</label>
				<div class="col-sm-8">
					<input id="comperformance" name="comperformance" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司所在市：</label>
				<div class="col-sm-8">
					<input id="comcity" name="comcity" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司所在县：</label>
				<div class="col-sm-8">
					<input id="comcounty" name="comcounty" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/company"
		$("#form-company-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-company-add').serialize());
	        }
	    }
	</script>
</body>
</html>
