<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								公司名称：<input type="text" name="comname"/>
							</li>

							<li>
								公司详细地址：<input type="text" name="comaddress"/>
							</li>

							<li>
								公司负责人：<input type="text" name="comman"/>
							</li>

							<li>
								联系方式：<input type="text" name="comphone"/>
							</li>

							<li>
								公司代维业务：<input type="text" name="comwork"/>
							</li>

							<li>
								代维业绩：<input type="text" name="comperformance"/>
							</li>

							<li>
								公司所在市：<input type="text" name="comcity"/>
							</li>

							<li>
								公司所在县：<input type="text" name="comcounty"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:company:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:company:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:company:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:company:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:company:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:company:remove')}]];
        var prefix = ctx + "system/company";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "代维公司",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'comid', 
					title : '序号',
					visible: false
				},
				{
					field : 'comname', 
					title : '公司名称',
					sortable: true
				},
				{
					field : 'comaddress', 
					title : '公司详细地址',
					sortable: true
				},
				{
					field : 'comman', 
					title : '公司负责人',
					sortable: true
				},
				{
					field : 'comphone', 
					title : '联系方式',
					sortable: true
				},
				{
					field : 'comwork', 
					title : '公司代维业务',
					sortable: true
				},
				{
					field : 'comperformance', 
					title : '代维业绩',
					sortable: true
				},
				{
					field : 'comcity', 
					title : '公司所在市',
					sortable: true
				},
				{
					field : 'comcounty', 
					title : '公司所在县',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.comid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.comid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>