<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-plans-edit">
			<div class="select-list">
				<ul>
					<li>
						<input name="planId" type="hidden" th:value="${plans.planId}"/>
						<label>模板：</label>
						<select id="templateId" name="templateId" th:with="type=${@templateServiceImpl.selectTemplateList(null)}" th:onchange="templateChange()">
							<option th:each="template : ${type}" th:text="${template.templateName}" th:value="${template.templateId}" th:selected="${template.templateId == plans.templateId}"></option>
						</select>
					</li>
				</ul>


			</div>
		</form>
    </div>

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:standard:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:standard:remove')}]];
		var prefix = ctx + "system/standard";

		$(function() {
			var options = {
				url: prefix + "/list",
				search: false,
				showExport: true,
				columns: [{
					field : 'standardNum',
					title : '序列',
					visible: false
				},
					{
						field : 'standardId',
						title : '规范型号',
						sortable: true
					},
					{
						field : 'resType',
						title : '资源类型',
						sortable: true
					},
					{
						field : 'standardEvent',
						title : '巡检项目',
						sortable: true
					},
					{
						field : 'standardContent',
						title : '巡检内容',
						sortable: true
					},
					{
						field : 'standardCycle',
						title : '巡检周期',
						sortable: true
					},
					{
						field : 'standardTime',
						title : '巡检开始实施时间',
						sortable: true
					}]
			};
			$.table.init(options);
		});
	</script>


    <script type="text/javascript">
		var prefix = ctx + "system/plans"
		$("#form-plans-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-plans-edit').serialize());
	        }
	    }
		var flag = true;
	    if (flag){
	    	templateChange();
		}
	    var value;
	    function templateChange(){
			value = $("#templateId").val();
			flag = false;
		}
	</script>
</body>
</html>
